{% extends "layout.html" %}

{% block title %} Yeoboseyo - Home {% endblock %}

{% block styles %} 
   <style>           
      body, html {
         /* The image used */
         /* background: url("/static/img/background.jpg"); */

         /* Full height */
         height: 100%;
      
         /* Center and scale the image nicely */
         background-position: center;
         background-repeat: no-repeat;
         background-size: cover;
         opacity: 50;
      }
   </style> 
{% endblock %}

{% block content %}

{% endblock %}

